torch==2.1.0
torch-scatter==2.1.2+pt21cu121
torch-sparse==0.6.18+pt21cu121
torchaudio==2.1.0
torchdata==0.7.1
torchvision==0.16.0
pydantic==2.5.3
dgllife==0.3.2
pandas==2.2.2
rdkit==2023.9.5
scikit-learn==1.5.0
